!!!
%html
  %head
    %title Clipping
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #header
      .body
        %h1 Clipping
    #content
      .body= yield
    #footer
      .body
        hogehoge
